.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

input {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    gap: 4px;
    height: 500px;
    width: 500px;
}

.grid__cell {
    background-color: #aaaaaa;
    border-radius: 5px;
}

.marked-cell {
    background-color: blue;
    border-radius: 5px;
}
